* {
  text-align: center;
  font-family: cursive;
}

.box {
  width: 150px;
  height: 120px;
  /*border: 1px solid black;
  margin: 1px;*/
  float: left;
  font-size: 80px;
}

.available:hover {
  background: rgb(204, 255, 204);
}

.o, .x {
	background-repeat: no-repeat;
	background-position: center;
  background-size: 66%;
}

.o {
  background-image: url(../images/o.png);
}

.x {
  background-image: url(../images/x.jpg);
}

#board {
  width: 462px;
  margin: 5px auto;
}

#box0, #box1, #box3, #box4, #box6, #box7 {
  border-right: 1px solid black;
}

#box0, #box1, #box2, #box3, #box4, #box5 {
  border-bottom: 1px solid black;
}
